#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.carsListTitle {
  display: flex;
  margin-bottom: 10px;
  margin-left: 100px;
}
.carsListTitle__item {
  font-size: 25px;
  width: 80px;
}

.carsListTitle__model {
  margin-right: 110px;
}

.carsListTitle__price {
  margin-right: 35px;
}


.carsListTitle__year {
  margin-right: 25px;
}

.carsListTitle__color {
  margin-right: 80px;
}

.notFoundCars {
  font-size: 50px;
  margin-left: 150px;
}